@import "reset.css";

@orange: #ffbb42;
@light-blue: #709dca;
@light-gray: #868686;
@sea: #394b50;
@lighter-blue: #59bfe6;
@toggles: #e4e5e5;
@btn-border: #e7ad48;
@plan-bg: #e7edf3;
@plan-lists-border: #e2e9f0;
@premium-plan-text: #c2e1ff;
@premium-plan-border: #8eb8e2;
@plans-border: #ccd5df;

.hidden {
  opacity: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
  }
}

// header

.header, .business-form {
  max-width: 1170px;
  min-width: 560px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding: 22px 0 23px 0;
  display: flex;
  justify-content: space-between;

  .header-menu {
    padding-top: 5px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li a {
        color: @light-gray;
        text-transform: uppercase;
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 2px;
        transition: all 0.3s;
      }
      a:hover {
        background: @orange;
      }
    }
  }
}

// form

.form-bg {
  background: @light-blue;

  .business-form {
    padding: 111px 42px 342px 42px;
    color: white;
    text-align: center;

    .fields-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 25px;
    }

    input, button {
      border: none;
      border-radius: 2px;
      margin-bottom: 5px;
    }

    input {
      padding: 15px 0 15px 38px;
      margin-right: 7px;
      flex-basis: 280px;
      border: 2px solid white;
      transition: all 0.3s;
    }

    input[type="text"] {
      background: url('../img/person.png') no-repeat 15px 20px white;
    }

    input[type="tel"] {
      background: url('../img/phone.png') no-repeat 15px 20px white;
    }

    input[type="email"] {
      background: url('../img/mail.png') no-repeat 15px 20px white;
    }

    input:focus {
      border-color: @orange;
    }

    button {
      padding: 17px 0;
      background: @orange;
      cursor: pointer;
      flex-basis: 224px;
      color: white;
      text-transform: uppercase;
    }
  }
}

// macbook

.macbook-wrapper {
  position: absolute;
  box-sizing: border-box;
  padding-bottom: 100px;
  left: 22%;
  top: -28%;

  .macbook {
    width: 647px;
    height: 345px;
    background: url('../img/macbook.png') no-repeat;

    img {
      margin-top: 15px;
      transition: all 0.5s;
    }

    img:nth-child(2) {
      margin-top: -298px;
    }

    img:last-child {
      margin-top: -345px;
    }
  }

  .macbook-toggles {

    .toggle {
      width: 15px;
      margin-top: 20px;
      height: 15px;
      border: 2px solid @toggles;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
    }

    .toggle:first-child {
      border-color: @lighter-blue;
    }
  }
}

// services

main {
  .services-wrapper {
    padding: 202px 0 77px 81px;
    text-align: center;
    position: relative;


    h2 {
      margin-bottom: 0;
      color: @sea;
      transform: translateX(-30px);
    }

    h2 + p {
      font-size: 14px;
      transform: translateX(-30px);
    }

    .services-container {
      justify-content: space-between;
      margin-top: 100px;

      .service:before {
        content: '';
        position: absolute;
        left: -65px;
      }

      .service {
        text-align: left;
        position: relative;
        margin-bottom: 80px;

        &-1:before {
          height: 46px;
          width: 45px;
          background: url('../img/service1.jpg') no-repeat;
        }

        &-2:before {
          height: 47px;
          width: 48px;
          background: url('../img/service2.jpg') no-repeat;
        }

        &-3:before {
          height: 44px;
          width: 62px;
          background: url('../img/service3.jpg') no-repeat;
        }

        &-4:before {
          height: 51px;
          width: 50px;
          background: url('../img/service4.jpg') no-repeat;
        }

        &-5:before {
          height: 47px;
          width: 47px;
          background: url('../img/service5.jpg') no-repeat;
        }

        &-6:before {
          height: 55px;
          width: 31px;
          left: -55px;
          background: url('../img/service6.jpg') no-repeat;
        }

        h3 {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: @sea;
          margin-bottom: 15px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media  screen and (max-width : 767px) {
  .macbook-wrapper {
    display: none;
  }
}

// about us

.about-us {

  .about-us-bg {
    background: url('../img/chair.jpg') no-repeat;
    width: 951px;
    height: 714px;
  }

  .about-us-info {
    background: @orange;
    height: 714px;
    padding: 164px 0 0 80px;

    .inner-info {
      max-width: 505px;
      color: white;

      h2 {
        margin-bottom: 20px;
      }

      p {
        font-size: 13px;
        margin-bottom: 36px;
      }

      a {
        display: block;
        max-width: 152px;
        padding: 12px 31px;
        border: 1px solid @btn-border;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        transition: all 0.3s;
      }

      a:hover {
        background: @btn-border;
      }
    }
  }
}

// plans

.plan-bg {
  background: @plan-bg;
}

.plan-container {
  text-align: center;
  padding-top: 135px;
  padding-bottom: 160px;

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: 13px;
    margin-bottom: 55px;
  }

  .plans {
    align-items: center;

    .plan {
      height: 430px;
      padding-top: 55px;
      background: white;
      color: @light-gray;

      h3 {
        text-transform: uppercase;
      }

      p {
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 35px;
      }

      ul {
        margin: 0 10px 15px 10px;
        text-transform: uppercase;
        font-size: 14px;

        li {
          border-top: 1px solid @plan-lists-border;

          a {
            display: block;
            color: @light-gray;
            padding: 10px 0;
            text-decoration: none;
            transition: all 0.3s;
          }

          a:hover {
            background: @plan-lists-border;
          }
        }
      }

        > a {
          background: @orange;
          display: block;
          max-width: 140px;
          margin: 0 auto;
          padding: 8px 0;
          border-radius: 2px;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
          transition: all 0.3s;
        }

        > a:hover {
          background: @btn-border;
        }

      .price {
        position: relative;
        font-size: 45px;
        color: @orange;
        font-weight: 700;
        padding-left: 25px;
      }

      .price:before {
        content: "$";
        position: absolute;
        left: 8px;
        font-size: 30px;
      }
    }

    .plan:nth-child(2) {
      height: 500px;
      padding-top: 90px;
      background: @light-blue;
      color: white;

      .price {
        color: white;
      }

      ul li {
        border-top-color: @premium-plan-border;

        a {
          color: @premium-plan-text;
        }

        a:hover {
          background: @premium-plan-border;
        }
      }
    }

    .plan:not(:nth-child(2)) {
      border-top: 1px solid @plans-border;
      border-bottom: 1px solid @plans-border;
    }
  }
}
