@import "reset.css";

@orange: #ffbb42;
@light-blue: #709dca;
@light-gray: #868686;
@sea: #394b50;

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

// header

.header, .business-form {
  max-width: 1170px;
  min-width: 560px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding: 22px 0 23px 0;
  display: flex;
  justify-content: space-between;

  .header-menu {
    padding-top: 5px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li a {
        color: @light-gray;
        text-transform: uppercase;
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 2px;
      }
      a:hover {
        background: @orange;
      }
    }
  }
}

// form

.form-bg {
  background: @light-blue;

  .business-form {
    padding: 111px 42px 342px 42px;
    color: white;
    text-align: center;

    .fields-wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      margin-bottom: 25px;
    }

    input, button {
      border: none;
      border-radius: 2px;
      margin-bottom: 5px;
    }

    input {
      padding: 15px 0 15px 38px;
      margin-right: 7px;
      flex-basis: 280px;
      border: 2px solid white;
      transition: all 0.3s;
    }

    input[type="text"] {
      background: url('../img/person.png') no-repeat 15px 16px white;
    }

    input[type="tel"] {
      background: url('../img/phone.png') no-repeat 15px 17px white;
    }

    input[type="email"] {
      background: url('../img/mail.png') no-repeat 15px 18px white;
    }

    input:focus {
      border-color: @orange;
    }

    button {
      padding: 17px 0;
      background: @orange;
      cursor: pointer;
      flex-basis: 224px;
      color: white;
      text-transform: uppercase;
    }
  }
}

// services

main {
  .services-wrapper {
    padding: 202px 0 77px 81px;
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 0;
      color: @sea;
    }

    h2 + p {
      font-size: 14px;
    }

    .services-container {
      justify-content: space-between;
      margin-top: 100px;

      .service:before {
        content: '';
        position: absolute;
        left: -65px;
      }

      .service {
        text-align: left;
        position: relative;
        margin-bottom: 80px;

        &-1:before {
          height: 46px;
          width: 45px;
          background: url('../img/service1.jpg') no-repeat;
        }

        &-2:before {
          height: 47px;
          width: 48px;
          background: url('../img/service2.jpg') no-repeat;
        }

        &-3:before {
          height: 44px;
          width: 62px;
          background: url('../img/service3.jpg') no-repeat;
        }

        &-4:before {
          height: 51px;
          width: 50px;
          background: url('../img/service4.jpg') no-repeat;
        }

        &-5:before {
          height: 47px;
          width: 47px;
          background: url('../img/service5.jpg') no-repeat;
        }

        &-6:before {
          height: 55px;
          width: 31px;
          left: -55px;
          background: url('../img/service6.jpg') no-repeat;
        }

        h3 {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: @sea;
          margin-bottom: 15px;
        }

        p {
          font-size: 13px;
        }
      }
    }
  }
}

