@import "reset.css";

@orange: #ffbb42;
@light-blue: #709dca;
@light-gray: #868686;

.header {
  max-width: 1170px;
  min-width: 560px;
  margin: 0 auto;
  padding: 22px 0 23px 0;
  display: flex;
  justify-content: space-between;

  .header-menu {
    padding-top: 5px;

    ul {
      display: flex;
      flex-wrap: wrap;

      li a {
        color: @light-gray;
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        display: block;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 2px;
      }
      a:hover {
        background: @orange;
      }
    }
  }
}

